{% extends "base.html" %}

{% block content %}
{% if not user %}
<div class="main-container">

<div class="main-box">
<h1>welcome to ucsddate.com.</h1>
<div class="intro">

<img src="./images/harry-meghan-15.jpg" alt="beautiful couple" width=200px>
<p class="intro-text">On this free dating site, you can match with users who attend UC San Diego, and hopefully form a match! Give us a try!</p>
</div>
</div>
<a href =/signup class="joinbtn">SIGNUP</a>
{% else %}
<h1> Welcome back {{user.username}}! </h1>
<div>
<p><a href =/view>VIEW OTHER USERS</a><br></p>
<p><a href =/edit>EDIT PROFILE</a><br></p>
<p><a href ="/user/{{ user.username}}">VIEW PROFILE</a></p>
</div>
{% endif %}
</div>
</div>
{% endblock %}
